.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

body{
  margin: 0;
min-width: 1100px;
}

/* Header Start */
.main-container {
  margin:0;
  width: auto;
  padding: 0;
}
.navigation-container{
  width:100%;
  height: 72px;
  float:left;
  background-color:rgba(211,53,35,0.7);
  position:fixed;
  z-index: 30;
  top:0;
}
  .logo-info{
    float:left;
  margin-top: 9px;
  margin-left: 50px;
  margin-right: 10px;
}
img{
  text-decoration: none;
  border: none;
}
  .name-title{
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
font-weight: 300;
  padding-top:25px;
  float:left;
}
.menu{
  width: 450px;
  height: 72px;
float:right;
padding-top:8px;
}

ul{
  list-style-type:none;
  padding-right: 58px;
  text-align: center;
}
 .menu li{
  float: right;
  display: inline-block;
}

.menu li a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
font-weight: 300;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  border-top: 5px solid transparent;
}
.menu-link:hover, .menu-link.active{
  border-color: rgba(255, 255, 255, 0.6);
}
/* Header End */

/* Slider-Mood-Start */
.slider{
  padding: 90px 50px 40px;
      color: #fff;
        text-align:center;
background: url(img/bg-red.svg) no-repeat center center fixed;
background-size: cover;
position: relative;
}

.imgCenter{
  padding-top:160px;
   margin: 0 auto;
   padding-bottom: 58px;
}
.imgsocial  {
  height: 25px;
  display: inline-block;
  }
  .imgsocial li{
    float:left;
    display: inline-block;
    }
    .imgsocial li a{
      list-style-image:none;
      padding: 5px 5px;
      list-style-image: none;
      opacity: 0.5;
    }
    .imgsocial li a:hover{
      opacity:0.8;
      background-color: transparent;

    }
p{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
   line-height: 30px;
   margin-top:  5px;
   text-align: center;
 }
 .dots button{
   border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 15px;
  padding: 0;
  background-color: transparent;
  display: block;
  }
 .navigator-dots {
margin-right: 50px;
position: absolute;
right: 0;
  top: 60%;
  transform: translateY(-60%);
}
 .dots button:hover, .dots button.on{
   background-color: #FFF;
   cursor:pointer;
 }
/* Slider-Mood-End */

/* Service-start */
.offers{
  width: auto;
  background-color: #d33523;
   padding-top: 70px;
  padding-bottom: 50px;
}
.flex{
  display: flex;
  justify-content: center;
}
h3{
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
font-weight: 400;
}

.title-container{
  height: 80px;
  color: #fff;
  font-size:30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 70px;
  text-transform: uppercase;
}
.one-offer-block{
  width: 251px;
  height: 334px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
font-weight: 300;
  float:left;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 24px;
}
.title-offer{
  font-size:16px;
  color:white;
}
.brush, .eye, .uiux, .foto{
  font-family: 'Roboto', sans-serif;
font-weight: 300;
margin-top: 20px;
}
/* Service-end */

/* Team-start */
.work{
  width: auto;
  background-image:url(img/bg-green.png);
  background-size: cover;
}
.header{
  font-size:30px;
  font-family: 'Roboto', sans-serif;
font-weight: 400;
  color: #fff;
  text-align: center;
  padding-top: 112px;
  text-transform: uppercase;

}
.paragraph{
  font-size:18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding-top: 53px;
  line-height: 24px;
  opacity: 0.8;
}
.work-navigation{
  padding-top: 40px;
 text-align: center;
  }
  .work-dots {
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 6px 13px;
  margin: 0 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
}
.work-dots:hover , .work-dots.active{
  border: 1px solid white;
}
  button{
    background: none;
    border:none;
  }
     .ellipse button{
       border-radius: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin: 8px;
      padding: 0;
      background-color: transparent;
      display: inline;
      }
     .navigator-ellipse {
     padding-top: 40px;
     padding-bottom: 30px;
    text-align: center;

     }
     .ellipse button:hover{
       background-color: #FFF;
       cursor:pointer;
     }
     .ellipse button.active {
       background-color: #FFF;
       cursor:pointer;
     }
     .slider3-font{
       background-color: #57aa68;
     }
     .green-collage {
       background-size: cover;
       width: 1280px;
       margin: auto;
     }
.picture-collage {
       float: left;
     }
     .picture-txt {
       height: 300px;
  width: 320px;
  opacity: 0;
  font-size: 18px;
  text-align: center;
     }
     .picture-txt:hover  {
  background-color: rgba(87,170,104,0.8);
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}
.conteiner-rings{
  padding-top: 90px;
}
 .rings1{
  width: 40px;
  height: 40px;
  margin: 0 auto 31px auto;
border:1px solid white;
border-radius: 50%;
}
.rings2{
  width: 30px;
  height: 30px;
  border:1px solid white;
  margin: 4px auto;
border-radius: 50%;
}
.rings3{
  width: 20px;
  height: 20px;
  margin: 4px auto;
  border:1px solid white;
  border-radius: 50%;
}
.rings4{
  width: 10px;
  height: 10px;
  margin: 4px auto;
  border:1px solid white;
  border-radius: 50%;
}
.top-picture{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
}
.h9 {
  text-decoration: none;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 5px;
  font-size: 14px;
}

/* team-end */

/* table-start */
.table-header{
  background: url(img/bg-green.png);
  background-size: cover;
  position: relative;
}
.table-title{
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 115px;
  text-align: center;
}
.table-nav {
  padding-top: 70px;
  text-align: center;
  padding-bottom: 35px;
}
.table-button {
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 6px 13px;
  margin: 0 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
}
.table-button:hover, .table-button.active{
  border: 1px solid white;
}
.price-table{
  background-color: #2a5759;
}
.table-info{
  margin: 0 auto;
  border-collapse: collapse;
  width: 80vw;
}
.price-table th{
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
   height: 91px;
   border-bottom: 1px solid rgba(67,124,126,1);

}
.price-table td{
color:#6ffaff;
font-size: 14px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
text-align: center;
height: 50px;
border-bottom:1px solid rgba(67,124,126,0.5);

}
.price-table button{
  color: white;
  border: 1px solid white;
  font-size: 16px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
text-align: center;
text-transform: uppercase;
padding: 6px 30px;
text-decoration: none;
cursor: pointer;
}
.price-row td {
  color: white;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 80px;
  }
  .price-table tfoot td{
  height: 148px;
}
.price-table td :hover{
   background-color: rgba(49,103,105,1);
}
th.price-active,
td.price-active {
  background-color: #316769;
  color: #FFF;
}
/* table-end */

/* team-start */
.cover-title {
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
font-weight: 300;
padding-top:172px;
text-align: center;
}
.title-person{
  font-size:14px;
  width: 230px;
  height: 157px;
}
.team{
  background-color: #57aa68;
}
  .team1{
  padding-top: 115px;
  text-align:center;
  color:#fff;
  font-family: 'Roboto', sans-serif;
font-weight: 400;
  font-size:30px;
  text-transform: uppercase;
}
.ellipses button{
  border-radius: 50%;
 width: 8px;
 height: 8px;
 border: 1px solid rgba(255, 255, 255, 0.2);
 margin: 8px;
 padding: 0;
 background-color: transparent;
 display: inline;
 }
 .navigator-team{
   padding-top: 40px;
   margin: auto;
   text-align: center;
 }

.ellipses button:hover{
  background-color: #FFF;
  cursor:pointer;
}
.ellipses button.activated {
  background-color: #FFF;
  cursor:pointer;
}

.team-work{
  text-align:center;
  padding-top:50px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:18px;
  opacity: 0.8;
  line-height: 24px;
}
.picture1 a{
  width: 270px;
  height: 300px;
  position: absolute;
}
.team-container {
  display: inline-block;
  position: relative;

}
.one-team-block{
  width: 272px;
  height: 301px;
  float:left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 150px;
}
.person-info{
  width: 272px;
  height: 301px;
  opacity: 0;
  text-align: center;
  position: absolute;
}

.person-info{
  font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size:16px;
color:white;
line-height: 24px;
padding-top: 25px;
text-align: center;
position: absolute;
}

.info-2{
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size:16px;
color:white;
line-height: 24px;
padding-top: 11px;
text-align: center;
}
.person-info:hover{
  background-color: rgba(87,170,104,0.8);
  opacity: 1;
}
h4{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
  line-height: 10px;
  position: relative;
  margin-top:120%;
}
.h5{
line-height: 1.5px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  opacity: 0.56;
  color:white;
  text-align: center;
  position: relative;
}

.social-team  a {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 76px;
  margin-top: 70px;
  padding: 5px 5px;
  background-color: rgba(0,0,0,0.3);
  height: 30px;
}

.title-person {
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
font-weight: 300;
  padding-top: 26px;
padding-left: 55px;
}
/* team-end */

/* forma-start*/
.forma{
background-image:url(img/bg-blue.png);
background-size: cover;
text-align: center;
padding: 0 20px;

}
.forma-title{
  padding-top:111px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
font-weight: 400;
  font-size:28px;
  background-color: transparent;
  margin-bottom: 45px;
  text-transform: uppercase;
}

input[type=text] {
  width: 600px;
  padding: 10px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
font-weight: 400;
color:rgba(255, 255, 255, 0.7);
  background-color: rgba(46,45,107,0.7);
  font-size: 13px;
}
textarea {
    width: 600px;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
  font-weight: 400;
    background-color: rgba(46,45,107,0.7);
    font-family: 'Roboto', sans-serif;
    color:rgba(255, 255, 255, 0.7);
    font-size: 13px;
    resize: none;
    height: 230px;
     overflow: hidden;
}

.contact-submit {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
font-weight: 400;
  border: 1px solid rgba(254,252,252,0.8);
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  color: #FFF;
  cursor:pointer;
  width: 620px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
input::-webkit-input-placeholder { color: white; }
input::-moz-placeholder { color: white; }
textarea::-webkit-input-placeholder { color: white;}
textarea::-moz-placeholder { color: white; }

.adress{
  font-size: 18px;
  color: #fff;
  padding-top: 45px;
  font-family: 'Roboto', sans-serif;
font-weight: 300;
padding-bottom: 80px;
}
/* forma-end */

iframe{
width: 100%;
}
.copy-conteiner{
  font-family: 'Roboto', sans-serif;
font-weight: 300;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  background-color:#2e2d6b;
}
